<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AlumniController</servlet-name>
        <servlet-class>alumni.controller.AlumniController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAlumniController</servlet-name>
        <servlet-class>alumni.controller.AddAlumniController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlettemp</servlet-name>
        <servlet-class>alumni.controller.NewServlettemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAlumniController</servlet-name>
        <servlet-class>alumni.controller.SearchAlumniController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateAdminController</servlet-name>
        <servlet-class>alumni.controller.ValidateAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewAlumniController</servlet-name>
        <servlet-class>alumni.controller.AddNewAlumniController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddingNewAlumni</servlet-name>
        <servlet-class>alumni.controller.AddingNewAlumni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tempServlet</servlet-name>
        <servlet-class>alumni.controller.tempServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditingServletController</servlet-name>
        <servlet-class>alumni.controller.EditingServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAlumniController</servlet-name>
        <servlet-class>alumni.controller.UpdateAlumniController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletingAlumniController</servlet-name>
        <servlet-class>alumni.controller.DeletingAlumniController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlumniController</servlet-name>
        <url-pattern>/AlumniController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAlumniController</servlet-name>
        <url-pattern>/AddAlumniController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlettemp</servlet-name>
        <url-pattern>/NewServlettemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAlumniController</servlet-name>
        <url-pattern>/SearchAlumniController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateAdminController</servlet-name>
        <url-pattern>/ValidateAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewAlumniController</servlet-name>
        <url-pattern>/AddNewAlumniController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddingNewAlumni</servlet-name>
        <url-pattern>/AddingNewAlumni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tempServlet</servlet-name>
        <url-pattern>/tempServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditingServletController</servlet-name>
        <url-pattern>/EditingServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAlumniController</servlet-name>
        <url-pattern>/UpdateAlumniController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletingAlumniController</servlet-name>
        <url-pattern>/DeletingAlumniController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
